<ion-header>
  <ion-toolbar>
    <ion-title>Mini Game Hub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedGame">
      <ion-item>
        <ion-label>Quiz Challenge</ion-label>
        <ion-radio slot="end" value="quiz"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Memory Match</ion-label>
        <ion-radio slot="end" value="memory"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Number Guess</ion-label>
        <ion-radio slot="end" value="guess"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button expand="block" (click)="startGame()">
    Play
  </ion-button>
</ion-content>