<ion-header>
  <ion-toolbar>

    <!-- Back button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Home"></ion-back-button>
    </ion-buttons>

    <ion-title>Number Guessing Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Guess the Number</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Difficulty:</strong> {{ difficulty | titlecase }}</p>
      <p>{{ message }}</p>
      <p><strong>Attempts:</strong> {{ attempts }}</p>


      <ion-input
        type="number"
        placeholder="Enter your guess"
        [(ngModel)]="userGuess"
        [disabled]="gameOver"
      >
      </ion-input>

      <ion-button expand="block" (click)="checkGuess()" [disabled]="gameOver">
        Check Guess
      </ion-button>

      <ion-button expand="block" color="tertiary" (click)="restartGame()">
        Restart Game
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>